*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  min-height: 100vh;
  font-weight: 400;
  line-height: 1.5;
}

.signup {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.signup img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.signup-container {
  padding: 1rem 1rem;
}
.signup-container .signup-caption {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
}
.signup-container .signup-intro {
  margin-bottom: 2rem;
}
.signup-container ul li {
  position: relative;
  padding-left: 2.2rem;
  margin-bottom: 0.5rem;
}
.signup-container ul li::before {
  content: url("./assets/images/icon-list.svg");
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
}
.signup-container form {
  margin-top: 2rem;
  position: relative;
}
.signup-container form label {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
}
.signup-container form input {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 0.05rem solid hsl(231, 7%, 60%);
  margin-top: 0.7rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.signup-container form input:focus {
  border: 0.05rem solid hsl(235, 18%, 26%);
}
.signup-container form input.error {
  border-color: hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 0.1);
  color: hsl(4, 100%, 67%);
}
.signup-container form input:focus:invalid {
  outline: none;
}
.signup-container form .signup-email-err {
  position: absolute;
  right: 0;
  top: 0;
  color: hsl(4, 100%, 67%);
  font-weight: 700;
  font-size: 0.8rem;
}

button {
  margin-top: auto;
  width: 100%;
  height: 4rem;
  font-size: 1.1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
}

button:hover,
input:hover {
  cursor: pointer;
}

button:hover,
button:active {
  background-color: hsl(4, 100%, 67%);
  box-shadow: 0.5rem 1rem 2rem hsl(4, 100%, 67%);
}

.signup.hide {
  display: none;
}

.signup-success {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.signup-success .signup-success-main {
  margin-top: 8rem;
}
.signup-success .signup-success-main img {
  height: 4rem;
  width: 4rem;
  margin-bottom: 2rem;
}
.signup-success .signup-success-main .signup-success-caption {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1;
}
.signup-success .signup-success-dismiss-btn {
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.hide {
  display: none;
}

@media (min-width: 30rem) {
  .signup img {
    height: 20rem;
  }
  .signup .signup-container {
    flex-grow: 1;
  }
}
@media (min-width: 48rem) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(235, 18%, 26%);
    min-height: 100vh;
  }
  .signup {
    flex-direction: row;
    padding: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    min-height: auto;
    border-radius: 2rem;
  }
  .signup picture {
    order: 2;
  }
  .signup picture img {
    width: 100%;
    height: 100%;
  }
  .signup .signup-container {
    order: 1;
    margin: 2rem 1rem;
  }
  .signup .signup-container .signup-caption {
    font-size: 3.5rem;
  }
  .signup-success {
    background-color: hsl(0, 0%, 100%);
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
    padding: 3rem;
  }
  .signup-success .signup-success-main {
    margin: 0;
  }
  .signup-success .signup-success-main .signup-success-caption {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .signup-success .signup-success-main .signup-success-body {
    margin-bottom: 1.5rem;
  }
  .signup-success .signup-success-dismiss-btn {
    margin-bottom: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
