@use "./base/css_reset";
@use "./mixin/mediaqueries" as mq;

// Primary
$primary-color: hsl(4, 100%, 67%);

// Neutral
$Dark-Slate-Grey: hsl(234, 29%, 20%);
$Charcoal-Grey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);

// Typography
$font-fam: "Roboto", Arial, sans-serif;

html {
  font-size: 16px;
}

.hide {
  display: none;
}
